.logo { 
    margin:0;
    padding:0;
    left: 0;
    top: 0;
    position: fixed; 
    width: 100%;
    height: 150px; 
    z-index:100; 
    background-color: none;
    border-bottom: 3px solid black;
}


.logo > img 
{ 
    text-align: center; 
    display: block;
    margin: auto;
    width: 300px;
}


.bottom_menu { 
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    width: 100%; 
    height: 80px; 
    z-index:100; 
    border-top: 3px solid black; 
    background-color: white ;
}
.bottom_menu > div 
{ 
    float: left; 
    width: 33%; 
    height: 100%; 
    text-align: center; 
    padding-top: 20px; 
   
}

.button
{
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 15%;
}


table{
    margin-top: 200px;
    width: 90%;
    height: 150px;
    margin-left: 10vw;
    margin-bottom: 250px;

    
}

button
{
    border: 0px;
    background-color: white;
}

.order{
    border: solid 2px black;
}

hr{
    background-color: darkgray;
    height: 2px;
    margin-right: -130px;
    margin-left: -30px;
    border-radius: 10px;
}
