
.text
{    
    margin: auto;
    margin-top: 130px;
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid darkgray;
    text-align: center;
}

.text > p
{
    margin-top: 5px;
}



.logo { 
    margin:0;
    padding:0;
    left: 0;
    top: 0;
    position: fixed; 
    width: 100%;
    height: 100px; 
    z-index:100; 
    background-color: white;
    border-bottom: 3px solid black;
}


.logo > img 
{ 
    text-align: center; 
    display: block;
    margin: auto;
    width: 200px;
}


.line_start > img
{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
    float: left;
}
.line_start > hr
{
    margin-top: 30px;
    width: 100%;
    height: 5px;
    background-color: darkgrey;
    border: none;  
    
}
.line_start
{
    padding-bottom: 160px;
}

.line_start > a
{
    float: right;
    clear: right;
}


.line > img
{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
    float: left;
}
.line > hr
{
    width: 100%;
    height: 5px;
    background-color: darkgrey;
    border: none;  
    
}
.line
{
    padding-bottom: 160px;
}

.line > a
{
    float: right;
    clear: right;
}



.line_end > img
{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70px;
    float: left;

}
.line_end > hr
{
    
    width: 100%;
    height: 5px;
    background-color: darkgrey;
    border: none; 
}
.line_end
{
    padding-bottom: 160px;
}


#name
{
    font-size: 20px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 60px;
    float: right;
}

#price
{
    text-align: right;
    margin-top: 5px;
    font-size: 15px;
}


.bottom_menu { 
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    width: 100%; 
    height: 80px; 
    z-index:100; 
    border-top: 3px solid black; 
    background-color: white ;
}
.bottom_menu > div 
{ 
    float: left; 
    width: 33%; 
    height: 100%; 
    text-align: center; 
    padding-top: 20px; 
   
}