.logo { 
    margin:0;
    padding:0;
    left: 0;
    top: 0;
    position: fixed; 
    width: 100%;
    height: 100px; 
    z-index:2; 
    background-color: white;
    border-bottom: 3px solid gray;
}
body
{
    display:inline;
    margin: 0;
    padding: 0;
}
.logo > img 
{ 
    text-align: center; 
    display: block;
    margin: auto;
    width: 200px;
    z-index:2; 
}
.back
{
    margin-left: 20px;
    margin-top: 20px;
}


.bottom_menu { 
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    width: 100%; 
    height: 80px; 
    z-index:100; 
    border-top: 3px solid black; 
    background-color: white ;
}
.bottom_menu > div 
{ 
    float: left; 
    width: 50%; 
    height: 100%; 
    text-align: center; 
    padding-top: 20px; 
   
}

td{
    clear: left;
}

.button
{
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-bottom: 30%;
}

body
{
    background-color: #F5F5F5;
}

table{
    margin-top: 40px;
    width: 100%;
    margin-bottom: 50px;
    clear: left;
}



button
{
    border: 0px;
    background-color: #F5F5F5;
}

.order{
    border: solid 2px white;
}



.text-right{
    text-align: center;
}


.total
{   
    float: right;
}

#navimg > img
{
    width: 70px;
}

#sort
{
    width: 100%;
}
