.logo { 
    margin:0;
    padding:0;
    left: 0;
    top: 0;
    position: fixed; 
    width: 100%;
    height: 100px; 
    z-index:2; 
    background-color: white;
    border-bottom: 3px solid gray;
}


.logo > img 
{ 
    text-align: center; 
    display: block;
    margin: auto;
    width: 200px;
    z-index:2; 
}
.back
{
    margin-left: 3%;
    margin-top: 6%;
}


.bottom_menu { 
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    width: 100%; 
    height: 80px; 
    z-index:100; 
    border-top: 3px solid black; 
    background-color: white ;
}
.bottom_menu > div 
{ 
    float: left; 
    width: 50%; 
    height: 100%; 
    text-align: center; 
    padding-top: 20px; 
   
}

td{
    clear: left;
}

.button
{
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-bottom: 30%;
}


table{
    margin-top: 40px;
    width: 90%;
    height: 150px;
    margin-left: 10%;
    margin-bottom: 50px;
}

button
{
    border: 0px;
    background-color: white;
}

.order{
    border: solid 2px black;
}

hr{
    background-color: darkgray;
    height: 2px;
    margin-right: -70%;
    margin-left: -20%;
    border-radius: 25px;
}
br
{
    visibility: hidden;
}

.text-right{
    text-align: center;
}


.total
{   
    clear: left;
}

#navimg > img
{
    width: 70px;
}

.sort
{

}
